body {
    height:665px;
    background-image: url("https://static.vecteezy.com/system/resources/previews/004/797/947/non_2x/wave-lines-black-background-free-vector.jpg");
    
    background-size: 10rem;
}

* {
    color: white;
}


